html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: black;
}

.slider__container{
  display: flex;
  margin: auto;
}

.slider__images {
  display: flex;
  width: 90%;
  margin: auto;
}

